name: Publish release to Tatin
run-name: Publish release ${{ github.ref_name }} to Tatin server
on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
      
jobs: 
  Publish:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Azure login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Get ACR access token
        id: get_token
        uses: azure/cli@v2
        with:
          inlineScript: |
            TOKEN=$(az acr login --name ${{ vars.CONTAINER_REGISTRY }} --expose-token --query accessToken -o tsv)
            echo "token=$TOKEN" >> "$GITHUB_OUTPUT"
      
      - name: Docker login to ACR
        run: |
          echo "${{ steps.get_token.outputs.token }}" \
            | docker login ${{ vars.CONTAINER_REGISTRY }} \
                -u 00000000-0000-0000-0000-000000000000 --password-stdin

      - name: Run BuildAndPublish using Docker
        run: >
          docker run
          -v ${{ github.workspace }}:/app
          -w /app 
          -e DYALOG_SERIAL=${{ secrets.DYALOG_SERIAL }}
          -e LOAD=/app/tasks/BuildAndPublish.aplf
          -e TAG_VERSION="${{ github.ref_name }}"
          -e GITHUB_TOKEN="${{ github.token }}"
          -e GITHUB_REPOSITORY="${{ github.repository }}"
          -e GITHUB_SHA="${{ github.sha }}"
          -e API_KEY="${{ secrets.TATIN_API_KEY }}"
          -e TATIN_REGISTRY="${{ vars.TATIN_REGISTRY }}"
          ${{ vars.CONTAINER_REGISTRY }}/dyalog:v190-dotnet
